<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="JSON Utils is a site for generating C#, VB.Net, and Javascript classes from JSON. It will also clean up your JSON and show a data viewer to assist you while you are developing">
    <meta name="author" content="">

    <title>JSON Utils: Generate C# & VB.Net from JSON</title>
    
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/bootstrap-theme.min.css" rel="stylesheet">

    <link href="/Content/site.css?v2" rel="stylesheet">
    <link href="/Content/SunLight/themes/sunlight.default.css" type="text/css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">
    <script type="text/javascript">

        var _gaq = _gaq || [];
        var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
        _gaq.push(['_setAccount', 'UA-48278343-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand">JSON Utils</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Generate Classes</a>
                    </li>
                    <li>
                        <a href="/Home/Bookmarklet">Bookmarklet</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#why-this">Why?</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Powered By<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://jsonclassgenerator.codeplex.com/">JSON Class Generator</a></li>
                            <li><a href="http://json.codeplex.com/">JSON.Net</a></li>
                            <li><a href="http://sunlightjs.com/">SunLight</a></li>
                            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                            <li><a href="https://github.com/josdejong/jsoneditor/">JSON Editor</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container theme-showcase" role="main">

        @RenderBody()
    </div>

    <div class="modal fade" id="why-this" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Why make this?</h4>
                </div>
                <div class="modal-body">
                    <b><p>Lots of tools out there already, why do we need another?</p></b>
                    I was tired of having multiple tabs open to convert objects, then another to view the data, and another to clean it up. I wanted one tool where I could see everything side by side. 

        Hope you enjoy.
                    <p></p>
                    <b><p>Can you add more stuff?</p></b>
                    I'd love to.  Send your bugs and requests <a href="https://docs.google.com/spreadsheet/viewform?formkey=dDJiNENOVG5xT3JhcVJtWDJXUTlNQUE6MA">Here.</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
