@{
    ViewBag.Title = "BookmarkLet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bookmarklet to generate objects from JSON</h1>


<a href="javascript:(function() { open('http://jsonutils.com/Home/Index?url='+encodeURIComponent(document.location.href),'_self').focus(); })();" class="btn btn-primary btn-large" title="JSON Utils">JSON Utils - Generate Objects</a>

<p></p>
<p>
    Drag the big button to your bookmarks bar, and when you're looking at JSON ouput, click it, and it will bring you here and automatically generate your objects.

</p>